
<app-menu></app-menu>
<div class="row">
  <div class="col-sm-12 "> 
<div class="wrapper" style="background-image: url('./assets/img/dg1.jpg');">
  <div class="inner">
    <div class="image-holder">
      <img src="./assets/img/dg2.jpg" alt="">
    </div>
    <form action="">
      <h3>Volunteer Registration Form</h3>
      <div class="form-group">
        <input type="text" placeholder="First Name" class="form-control">
        <input type="text" placeholder="Last Name" class="form-control">
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Mobile" class="form-control">
        <i class="zmdi zmdi-Mobile"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Email Address" class="form-control">
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Area Postal Code" class="form-control">
        <i class="zmdi zmdi-Postal"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Select Day & Time " class="form-control">
        <i class="zmdi zmdi-Select"></i>
      </div>
      <div class="form-wrapper">
        <select name="" id="" class="form-control">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="femal">Female</option>
          <option value="other">Other</option>
        </select>
        <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
      </div>
    
      <button>Register
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
</div>
</div> 