
<app-menu></app-menu>
<div class="row">
  <div class="col-sm-12 "> 
<div class="wrapper" style="background-image: url('./assets/img/dg2.jpg');">
  <div class="inner">
    <div class="image-holder">
      <img src="./assets/img/dg3.jpg" alt="">
    </div>
    <form action="">
      <h3>Animal Shelter Registration Form</h3>
      <div class="form-wrapper">
        <input type="text" placeholder="Shelter Name" class="form-control">
        <i class="zmdi zmdi-ShelterName"></i>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Contact First Name" class="form-control">
        <input type="text" placeholder="Contact Last Name" class="form-control">
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Shelter Postal Code" class="form-control">
        <i class="zmdi zmdi-Postal"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Shelter Phone" class="form-control">
        <i class="zmdi zmdi-Mobile"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Shelter Email Address" class="form-control">
        <i class="zmdi zmdi-email"></i>
      </div>
     
      <div class="form-wrapper">
        <input type="text" placeholder="Shelter Website" class="form-control">
        <i class="zmdi zmdi-Website"></i>
      </div>   

      <div class="form-wrapper">
        <input type="text" placeholder="Shelter Address" class="form-control">
        <i class="zmdi zmdi-Address"></i>
      </div>   

      <button>Register
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
</div>
</div> 