<app-menu></app-menu>

<div class="pet_care_area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 col-md-6">
              <div class="pet_thumb">
                  <img src="./assets/img/veterinarian.jpg" alt="">
              </div>
          </div>
          <div class="col-lg-6 offset-lg-1 col-md-6">
              <div class="pet_info">
                  <div class="section_title">
                      <h3><span>We care your pet </span> <br>
                          As you care</h3>
                      <p>Register them for any Misfortune.</p>                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
