<app-menu></app-menu>
 
<div class="row">
<div class=" col-sm-12 jumbotron text-center">       
<h1>Pets Solutions</h1>
<p>Complete Solutions for your pet!</p>   
</div>     
</div> 
   
<div class="container">    

<div class="row h5">
  <div class="col-sm-3">
    <h3>ADOPT US.</h3>
    <p>WE NEED YOUR HELP....</p>
    <a class='nav-link' routerLinkActive='active' [routerLink]="['/PetAdopt']">
    <img src="./assets/img/c1.jpg" title="Click me " width="265" height="290">
  </a>
  </div>
  <div class="col-sm-3">
    <h3>YOUR PET.</h3>
    <p>REGISTER THEM...</p>
    <a class='nav-link' routerLinkActive='active' [routerLink]="['/PetRegister']">
    <img src="./assets/img/c2.jpg" title="Click me " width="265" height="290">
  </a>
  </div>
  <div class="col-sm-3">
    <h3>FOUND A PET.</h3>        
    <p>Let US KNOW...</p>
    <a class='nav-link' routerLinkActive='active' [routerLink]="['/PetFound']">
    <img src="./assets/img/c3.jpg"  title="Click me "width="265" height="290">
  </a>
  </div>
  <div class="col-sm-3">
    <h3>LOST YOUR PET..</h3>        
    <p>LET US KNOW...</p>
    <a class='nav-link' routerLinkActive='active' [routerLink]="['/PetLost']">
    <img src="./assets/img/c4.jpg" title="Click me " width="265" height="290"> 
  </a>
  </div>
</div>
</div>